
/*@import url(http://fonts.googleapis.com/css?family=Lato:100,300,400,700);
@import url(http://fonts.googleapis.com/css?family=Flamenco);*/

/*logo: #A7166A;
black: #231f20;

accents:#004650;
#00AECE
#C6DB00
#55BE47;
*/

@import url(http://fonts.googleapis.com/css?family=Lato);
@import url(http://fonts.googleapis.com/css?family=Montserrat);
@import url(http://fonts.googleapis.com/css?family=Roboto:700);

a{text-decoration: none;}
a:hover{text-decoration: underline;}
body{background-color: #eee; color:#231f20;}

.container{margin: 0 auto; padding: 0; max-width: 1000px;}
.closer{font-weight: 700}

.banner{width:100%;overflow: hidden; border-radius: 4px; background-repeat: no-repeat;background-image: url(/images/main-bg.jpg); background-size:cover;}

a.locator{color:inherit;}
a.locator:hover{text-decoration: none}

.page.content h1{
  border: none;
  margin: 1em 0em 0em 0em;
  padding: 0em;
  font-weight: bold;
  line-height: 1.3;
  min-height: 1em;
  font-size: 2em;
  color: #A7166A;
  font-family: 'Lato', sans-serif.
}

.menu .logo.item{padding-left: 0;}
.page.content p{
  font-size:1.2em; line-height: 150%;
}

.page.content a{
  color: #A7166A;
  font-weight: bold;
}

.blogpost > a{
  color:#000;
  text-decoration: none;
}

a.pageauthorblog{
  color:#A7166A;
  font-weight: bold;
}

.newsletter{text-align: center;}
h2.newsletter{margin-top: 0}

.center{text-align: center}

.fluid.post.image{width:100%;}
.fluid.half.post.image{width:50%;}
.page.content p.small{font-size: 0.8em; line-height: 100%; text-align: center; margin:0; padding: 0}
div.footnotes {font-size: 0.8em; line-height: 100%; border-top:1px solid #aaa; padding-top: 10px; margin-top: 10px;}
.accordion{width:100% !important; margin-top: 10px}
.jobs.content h2{border: none;
  margin: 1em 0em 1rem;
  padding: 0em;
  font-weight: bold;
  line-height: 1.33;
  font-size: 1.75em;
  color: #231f20;
  font-family: 'Lato'}
.jobs.content h3{border: none;
  margin: 1em 0em 1rem;
  padding: 0em;
  font-weight: bold;
  line-height: 1.33;
  font-size: 1.33em;
  color: #231f20;
  font-family: 'Lato', sans-serif}

/*.backed{height:px; width:100%; z-index: -2; background-image: url(../images/TESTONLYDONOTUSE.jpg); background-repeat: no-repeat; background-size: 200%;}*/
.pinkslash{height:55px; margin:0 5px 0 0;}
.slash{-webkit-text-stroke: 8px #231f20;}
.pink.slash{-webkit-text-stroke: 8px #A7166A;}
.white.slash{-webkit-text-stroke: 8px #fff;}
span.pink.backed{padding:2px 4px; line-height:1.2;}
.ui.accordion .pink.active,.ui.accordion .pink:hover, .pink{color:#A7166A; }
a.pink.backed{font-size: 1em; padding: 2px 5px; margin: 5px 0; color: #fff}
.ui.accordion .title {padding:0;}
.pink.backed{background-color: #A7166A; color:#fff;}
.page_title .pink.backed{padding: 0 10px;}
.grey.backed{background-color: #231f20; color:#fff}
.high{background-color: #c6db00}
.brand{padding-left:75px; font-family: "Montserrat"; color:#fff; font-size:20px; margin-top:30px;}
.slide-left{margin-left:-250px;
 }
.vertically.fitted.column{margin-top: 0; margin-bottom: 0}
.nospace{line-height: 100%; padding: 0; margin:10px 0 0 0;}
.small.pink.slash{-webkit-text-stroke:6px;}
img.divide{width:30px; opacity: 0.7}
.main.container{}
.page_title.main{font-size: 6em; font-family: "Montserrat"; text-transform: uppercase;}
 .top-bar h1{margin: 0; line-height: 100%}
}
.ui.menu .logo.item{padding-left: 0px;}

img.left.blogfloated{float:left; padding-right: 10px;}
img.right.blogfloated{float:right; padding-left: 10px;}

.branded{font-size: 3.9em; line-height: 170%; font-family: "Roboto", sans-serif;}

a {color: #00AECE;}
a.high{color:inherit;}
h1.tag{line-height: 1.3; margin: 0.5em 0 0 0;}

.pink.backed > a{color: #fff; text-decoration: none;}

.pink.backed > a.email{color:inherit; text-decoration: none;}
  .nonpink{display:visible;}

h2.list{display: inline-block; margin: 10px 10px 20px 0;}
.slice > .list{margin-top: 20px}
h2.list:last-child{margin-top: 0px}
.body.text{font-size:1.2em; line-height: 150%;}
#logo{
  height:75px;
  width:95px;
  background-image: url('../images/logo.svg');
  background-size: 100%;
  background-repeat: no-repeat; 
  user-select:none;
  -webkit-user-select:none;
  -moz-user-select:none;
  -ms-user-select:none;
  float:left;
  margin:9px 20px 0 0;
}
.bar.logo{  height:50px; width:60px; margin:-5px 10px 0 0; float:left;
}

.resilience{background-color: #449E8D !important;}
.legal{background-color: #252860 !important;}
.governance{background-color: #D59020 !important}
.credit{background-color: #6A933A !important}
.data{background-color: #4A4A4A !important}
.education{background-color: #673D8C !important}
.misc{background-color: #6A284E !important}
.land{background-color: #5C442F !important}

h2.bottom{padding-bottom: 20px; ;width: 100%}
.nonpink{color:;}
.sector.segment{height: 100%; min-height: 220px; width:100%;}
.team{height:100px; margin-bottom: 0;}
.team.bio{height:auto; margin-top: 0;}
.ui.bottom.segment.attached{margin-bottom: 30px;}
 .team.member{margin: 0;height:auto;}
 .team.member.title{margin:0;padding:0;height:auto;font-weight: 200;}
.lwh{background-image: url('../images/lwh.png');
background-size:100%; background-repeat: no-repeat;}

.ui.segment.floated.left{margin-bottom: 0; ;}
.top-bar{height: 70px; margin-bottom: 25px; margin-top:5px;}
.top-bar.home{text-align: left;}
.slice{padding: 10px 10px; text-align:left;background-color: rgba(255, 255, 255, 0.6); background-size: cover;   -webkit-background-size: cover; height: 100%}

.ui.segment.bottomless{margin-bottom: 0;}
body {font-family: "Lato", sans-serif;}
h1{font-family:"Roboto", sans-serif; font-weight: 700;}

a.sector{text-decoration: none;}
a.sector:hover > .sector{background-color: #A7166A !important}
a p.sector{font-weight: normal;}
img.sector{margin:0 auto 5px auto; height:100px; }
.segment h1.sector{font-family:"Roboto", sans-serif; color:#fff; margin:0; padding: 0; line-height: 100%}
.segment p.sector{line-height: 100%;font-size:100%;color:#fff;}
.page.content p.meta{font-size: 1em;line-height: 100%; margin: 0}
.page.content h1.post.title{margin: 0.3em 0}
.page.content h1.front{margin-bottom: 0.5em; line-height: 1.1}


.page.slice h1{line-height: 1; margin: 30px auto 30px auto;}
.page.slice{background-size: 100%;}

a.twitter{display: none; text-decoration: none; color: #A7166A;}
a.email {display: none; text-decoration: none; color: #A7166A;}
.team.left.aligned.slice:hover > h2 span a.email{display: inline;}
.team.left.aligned.slice:hover > h2 span a .staff{display: none}
.team.left.aligned.slice:hover > h3 span em .twitter{display: inline;}
.team.left.aligned.slice:hover > h3 span em .staff{display: none}
.team.left.aligned.slice:hover > h2 span.pink.backed{background-color: #fff; color: #A7166A} 
.team.left.aligned.slice:hover > h3 span.pink.backed{background-color: #fff; color: #A7166A}
@media(max-width: 768px){
.nonpink{display:none;}
.page_title.main{font-size: 6em;}
}

@media(max-width: 500px){
.page_title.main{font-size: 4.5em;}  
.branded{font-size: 3em; line-height: 170%}
.pinkslash{height:45px;}
h1.tag{font-size: 1.5em}
img.left.blogfloated{padding: 0; margin:auto; float: none}
img.right.blogfloated{padding: 0; margin:auto; float: none}
.page.content h1{font-size: 1.5em;}
.page.content h2{font-size: 1.2em;}
.page.content p{font-size: 1em;}
.top-bar{height:50px; margin-bottom: 5px}
.ui.stackable.grid.sectors{margin: 25px auto;}
.ui.menu .item{font-size: 0.9em}
.main.container{padding-left: auto;}
.ui.form.newsletter {font-size: 0.8em; display: block;}
}
