---
---
@import '../_sass/bootstrap';
@import '../_sass/syntax-highlighting';
@import '../_sass/icomoon';
@import '../_sass/global';



$twitter: #00aced;
$facebook: #3b5998;
$googleplus: #dd4b39;
$pinterest: #cb2027;
$linkedin: #007bb6;
$youtube: #bb0000;
$vimeo: #aad450;
$tumblr: #32506d;
$instagram: #517fa4;
$flickr: #ff0084;
$dribbble: #ea4c89;
$quora: #a82400;
$foursquare: #0072b1;
$forrst: #5B9A68;
$vk: #45668e;
$wordpress: #21759b;
$stumbleupon: #EB4823;
$yahoo: #7B0099;
$blogger: #fb8f3d;
$soundcloud: #ff3a00;
//simlab colors
$simlab-primary-magenta: #A7166A;
$simlab-primary-black: #231f20;
$simlab-primary-grey: #E9E9E9;
$simlab-secondary-darkblue: #1B579F;
$simlab-secondary-slate: #004650;
$simlab-secondary-lightblue: #00AECE;
$simlab-secondary-yellow: #C6DB00;
$simlab-secondary-green: #55BE47;
$simlab-secondary-darkgreen: #2F6600;


// $headline-text: 48px;
// $subheadline-text: 24px;
// $regular-text: 16px;

img {
    display: block;
    max-width: 100%;
    height: auto;
}

a { 
    color: $simlab-primary-magenta; 
    &:hover { 
        text-decoration: none;
        color: $simlab-primary-magenta; 
    }    
}

.caption {
    //TODO: differes from style guide
    //font-size: .7em;
    font-style: italic;    
}

.extra-bold {
    font-weight: 900;
    font-stretch: expanded;
}

body {
    font-size: 18px;
    line-height: 1.5;
    @extend %opensans;
    -webkit-font-smoothing: antialiased;
}

h1 {
    font-size: 3em;
    font-weight: 300;
    font-stretch: condenses;
}

h2 {
    font-size: 1.5em;
    font-weight: 700;
}

p {
    font-size: 1em;
}

.img-inline {
    margin: 0;
    padding: 7px 0 7px 0;
    width: 100%;
    height: auto;
}

.bg-green {
    background-color: $simlab-secondary-darkgreen;
}

.bg-twiter {
    background-color: $twitter;
}

.bg-facebook {
    background-color: $facebook;
}

.bg-googleplus {
    background-color: $googleplus;
}

.bg-linkedin {
    background-color: $linkedin;
}

.bg-digg {
    //todo: unknown
    background-color: $simlab-secondary-lightblue;
}

.bg-tumblr {
    background-color: $tumblr;
}

.bg-reddit {
    //todo: unknown
    backface-color: $simlab-secondary-lightblue;
}

.bg-stumbleupon {
    background-color: $stumbleupon;
}

.bg-hacker-news {
    //todo: unknown
    background-color: $simlab-secondary-lightblue;
}

.magenta {
        color: $simlab-primary-magenta;
}

.home-wrapper {
    width: 100%;
    position: absolute;
    @include desktop {
        top:300px;
    }
    @include tablet {
        top:270px;
    }
    @include phone {
        top:230px;
        
    }
    @include minimum {
        top: 220px;
    }   
}

.content-wrapper {
    width: 100%;
    position: absolute;
    @include desktop {
        top:330px;
    }
    @include tablet {
        top:300px;
    }
    @include phone {
        top:250px;
        
    }
    @include minimum {
        top: 260px;
    }   
}

.headline {
    position: absolute;
    top: 70px;
    @include phone {
        font-size: 2em;
    }
    @include minimum {
        font-size: 2em;
    }
}

.titleline {
    @include phone {
        font-size: 2em;
    }
    @include minimum {
        font-size: 2em;
    }
}

.header {
    @include desktop {
        height:350px;
    }
    @include tablet {
        height:300px;
    }
    @include phone {
        height:250px;
        
    }
    @include minimum {
        height: 260px;
        z-index: 2;
    }
}

.home-page {
    @include desktop {
        background: $simlab-primary-black no-repeat 0 -150px;    
    }
    @include tablet {
        background: $simlab-primary-black no-repeat 0 -100px;
    }
    @include phone {
        background: $simlab-primary-black no-repeat 100 -100px;
    }
    @include minimum {
        background: $simlab-primary-black no-repeat 100 -100px;
    }
}

.default-page {
    background: $simlab-primary-black;
}

.shadow {
    z-index: -2;
    position: absolute;
    background-color: #000000;
    width:100%;
}

.header-background {
    z-index: -1;
    position: absolute;
    opacity: .7;
    width:100%;
}

.angled-header{
    background: transparent;
    width:100%;
    color: #FFFFFF;
    padding-top: 15px;
    padding-right: 0;
    padding-left: 0;
    position: relative;
        
    > div { 
        > h1 {
            padding-left: 15px;
            > span {
                font-weight: bold;
            }
        }
    }
}

#backshape .wrapper {
    @include desktop {
        margin:50px auto;
    }
    @include tablet {
        margin:25px auto;
    }
    @include phone {
        margin:25px auto;
    }
    display:block;
    float:left;
    width:100%;
    padding:0 5%;
    transform:skew(0deg,-2.5deg);
    -ms-transform: skew(0deg,-5deg);
    -webkit-transform: skew(0deg,-2.5deg); 
    -webkit-backface-visibility: hidden;
}

#backshape {
    position: relative;
    @include desktop {
        margin-top:-50px;
    }
    @include tablet {
        margin-top:-25px;
    }   
    @include phone {
        margin-top:-25px;
    }
    border-top: 0.5px fffff solid;
    display:block;
    float:left;
    width:100%;
    background:white;
    transform:skew(0deg,2.5deg);
    -ms-transform: skew(0deg,2.5deg); /* IE 9 */
    -webkit-transform: skew(0deg,2.5deg); /* Safari and Chrome */
    -webkit-backface-visibility: hidden;
    @include minimum {
      display: none;
    }
}

.logo > svg {
    margin-left: 10px;
    margin-top: -10px;
    height: 67.15px;
    width: 42.5px;
}

.navbar-default {
    z-index: 1;
    background-color: transparent;
    border: none;
}

.navbar-default .navbar-nav { 
    > li > a {
    color: #FFFFFF;
    //font-size: 14px;
    font-weight: bold;
    }
}

.custom-navbar .nav.navbar-nav.navbar-right li > a {
	    text-align: right;
        &:hover {
            color: #FFFFFF;
            //text-decoration: underline;
        }
}

.custom-navbar {
    .collapse.in {
	    background-color: $simlab-primary-magenta;
    }
    .collapsing {
	    background-color: $simlab-primary-magenta;
    }
}

// hr lines over and under search box
hr {
  -moz-border-bottom-colors: none;
  -moz-border-image: none;
  -moz-border-left-colors: none;
  -moz-border-right-colors: none;
  -moz-border-top-colors: none;
  border-style: solid none;
  border-width: 0;
  margin: 0;
    &.bold {  
        border-color: $simlab-primary-black -moz-use-text-color $simlab-primary-black;
        border-top: 3px solid $simlab-primary-black;
    }
    &.light {
        border-color: $simlab-primary-grey -moz-use-text-color $simlab-primary-grey;
        border-top: 2px solid $simlab-primary-grey;
    }
}


@mixin setPlaceHolderColor { 
    ::-webkit-input-placeholder { @content }
    :-moz-placeholder  { @content }
    ::-moz-placeholder { @content } 
    :-ms-input-placeholder { @content }
}

.search-header{
    > hr.bold{
        border-color: $simlab-primary-grey -moz-use-text-color $simlab-primary-grey;
        border-top: 3px solid $simlab-primary-grey;
    }
    > form > div {
        background-color: transparent;
        > span > button.btn-default {
            color: #FFFFFF;
            background-color: transparent;
        }
        > input.form-control {
            z-index: 0;
            background-color: transparent;
            color: #FFFFFF;
            font-weight: bold; 
            font-size: initial;
        }
        @include setPlaceHolderColor {
                color: #FFFFFF;
            }  
    }
}

.form-control {
    font-size: initial;
    font-weight: bold; 
}

.search-result {
    > a { 
        color: $simlab-primary-black; 
        //line-height: 30px;
    }
    padding: 5px;
    text-overflow: ellipsis; 
    white-space: nowrap;
    > i {
        color: $simlab-primary-magenta;
    }
}

.dropdown-menu {
    font-size: initial;
}

.container.search-box {
    margin-bottom: 30px;
}

//for search button
.btn-default {
    color: $simlab-primary-magenta;
}

.jumbotron{
    background-color: #FFFFFF;
}


.right-divider {
    @include tablet {
        border-right: 3px solid $simlab-primary-grey;
        padding-right: 15px;
    }
    @include desktop {
        border-right: 3px solid $simlab-primary-grey;
        padding-right: 15px;
    }
}

.left-divider {
    @include tablet {
        border-left: 3px solid $simlab-primary-grey;
        padding-left: 15px;
    }
    @include desktop {
        border-left: 3px solid $simlab-primary-grey;
        padding-left: 15px;
    }
}

.menu {
    @include desktop {
        margin: 10px;
        padding: 10px 0 10px 10px;
    }
    // Heading 
    > p {
        @include desktop {
            margin-top: 17px;
        }
        padding-left: 4px;
        //font-size: 0.9em;
        margin-bottom: 20px;
        > a {
            padding-left: 15px;
            color: $simlab-primary-magenta;
            &:hover{
                text-decoration: none;
            }
        }
    }
    // Icon style
    > ul > li > a > i {
        margin-top: 7px;
    }
    .foot {
        padding-top: 60px;
    }
}

@mixin setFormFxAll { 
    &:focus, &:hover, &:active {
        @content
    }
}

.no-border {
    border: 0;
    outline:0px !important;
    -webkit-appearance: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    @include setFormFxAll {
        outline:0px !important;
        -webkit-appearance: none;
        -webkit-box-shadow: none;
        box-shadow: none;
    }
}

.scrollable-menu {
    // position: relative;
    z-index: 100;
    height: auto;
    //max-height: 200px;
    overflow-x: hidden;
    //TODO: 
    text-overflow: ellipsis;
    width: 100% !important;
    > ul > li > a {
        text-overflow: ellipsis;
    }
}

footer {
    margin-top: 60px;
    background-color: $simlab-primary-grey;
}

.course-signup {
    min-height: 203px;
    padding: 10px;
    > i {
        @include phone {
            margin: 10px 20px 0 -5px;
        }
        @include tablet {
            margin: 10px 20px 0 -5px;
        }
        @include desktop {
            margin: 25px 20px 20px -5px;
        }
        
        color: #FFFFFF;
        background-color: $simlab-secondary-darkblue;
        padding: 20px;
        border-radius: 44px;
    }
}

.connect-links {
    min-height: 203px;
    padding: 10px;
}

.social-buttons{
    padding: 10px;
    > a { 
        color: #FFFFFF; 
        border-radius: 5px;
        padding: 10px;
        width: 100%;
        max-width: 200px;
        height: 40px;
    }
}

.post-content{
    padding-right: 15px;
}

.post-image { 
    margin-top: 10px;
    //margin-right: 15px;
    padding: 6px 15px 0 15px;
}

.post-link {
    color: $simlab-primary-magenta;
    
    &:hover{
        color: $simlab-primary-magenta;
    }
}

.post-meta {
    margin-top: 15px;
    margin-left: -5px;
    > li { 
        //margin: 10px 0 10px 0;
        padding: 3px 5px 7px 5px;
        //font-size: .7em;
        @include tablet {
            float: left;
            border-right: solid 1px $simlab-primary-black;
            line-height: 4px;
            height: 10px;
        }
        @include desktop {
            float: left;
            border-right: solid 1px $simlab-primary-black;
            line-height: 4px;
            height: 10px;
        }    
    }
}

.post-summary {
    margin-top: 20px;
}

.search-links {
    float: left;
    padding: 0 5px 0 0;
}

.pagination-wrapper{
    margin-top: 25px;    
}

.pagination {
    border-radius: 15px;
    height: 30px;
    width: 30px;    
    border: 2px solid $simlab-primary-grey;
}

.left {
    margin: 0 10px 0 0;
    padding: 6px 0 0 6px;
}

.right {
    margin: 0 0 0 10px;
    padding: 6px 0 0 8px;
}

.team-card {
    min-height:480px;
}

.footer-top {
    min-height: 120px;
    padding-bottom: 30px;
    > div {        
      > div  { 
        min-height: 100px;
        background-color: #FFFFFF;
        border-top: solid 30px $simlab-primary-grey;
        }
        
        .border-right {
            @include desktop {
                border-right: solid 15px $simlab-primary-grey;
                border-left: solid 15px $simlab-primary-grey;   
            }
        }
        .border-left {
            @include desktop {
                border-left: solid 15px $simlab-primary-grey;
                border-right: solid 15px $simlab-primary-grey;
            }
        }
        
    }
}

.footer-bottom {
    background-color: $simlab-primary-magenta;
    min-height: 50px;
    > div > p { 
        margin-top: -20px;
        color: #FFFFFF; 
        padding-bottom: 20px; 
    }
    > div > a > svg {
        margin-top: -5px;
        height: 67.15px;
        width: 42.5px;
    }
}
