---
---
@import '../_sass/bootstrap';
@import '../_sass/syntax-highlighting';
@import '../_sass/icomoon';
@import '../_sass/global';
@import '../_sass/vendor-prefix';

$twitter: #00aced;
$facebook: #3b5998;
$googleplus: #dd4b39;
$pinterest: #cb2027;
$linkedin: #007bb6;
$youtube: #b00;
$vimeo: #aad450;
$tumblr: #32506d;
$instagram: #517fa4;
$flickr: #ff0084;
$dribbble: #ea4c89;
$quora: #a82400;
$foursquare: #0072b1;
$forrst: #5b9a68;
$vk: #45668e;
$wordpress: #21759b;
$stumbleupon: #eb4823;
$yahoo: #7b0099;
$blogger: #fb8f3d;
$soundcloud: #ff3a00;

//
$white: #fff;
$lightgray: #d3d3d3;
$darkgray: #333;
$black: #000;

//simlab colors
$simlab-primary-magenta: #a7166a;
$simlab-primary-black: #231f20;
$simlab-primary-grey: #e9e9e9;
$simlab-secondary-grey: #eee;
$simlab-light-grey: #97999b;
$simlab-secondary-darkblue: #1b579f;
$simlab-secondary-slate: #004650;
$simlab-secondary-lightblue: #00aece;
$simlab-secondary-yellow: #c6db00;
$simlab-secondary-green: #55be47;
$simlab-secondary-darkgreen: #2f6600;

iframe {
  border: 0;
  height: 100%;
  width: 100%;
}

img {
  display: block;
  height: auto;
  max-width: 100%;
}

a {
  color: $simlab-primary-magenta;
  
  &:hover,
  &:focus {
    color: $simlab-primary-black;
    text-decoration: none;
  }
}

.disable-link {
  color: $simlab-primary-grey;
  cursor: default;
  text-decoration: none; // !important;

  &:hover {
    color: $simlab-primary-grey;
    text-decoration: none;
  }
}

.caption {
  font-style: italic;
}

.lighter {
  font-weight: lighter;
}

.extra-bold {
  font-stretch: expanded;
  font-weight: 700;
}

html,
body {
  @extend %opensans;
  font-size: 18px;
  -webkit-font-smoothing: antialiased;
  font-weight: 400;
  line-height: 1.5;
  overflow-x: hidden;
  width: 100%;

  @include tablet {
    overflow-x: hidden;
    width: 100%;
  }

  @include phone {
    overflow-x: hidden;
    width: 100%;
  }
}

h1 {
  @extend %opensans;
  font-size: 2em;
  font-weight: 700;
  padding-bottom: 10px;
}

h2 {
  @extend %opensans;
  font-size: 1.5em;
  font-weight: 700;
  padding-bottom: 10px;
  padding-top: 10px;
}

p {
  font-size: 1em;
}

.img-inline {
  height: auto;
  margin: 0;
  padding: 7px 0;
  width: 100%;
}

.bg-magenta {
  background-color: $simlab-primary-magenta;
}

.bg-green {
  background-color: $simlab-secondary-darkgreen;
}

.bg-twiter {
  background-color: $twitter;
}

.bg-facebook {
  background-color: $facebook;
}

.bg-googleplus {
  background-color: $googleplus;
}

.bg-linkedin {
  background-color: $linkedin;
}

.bg-digg {
  //todo: unknown
  background-color: $simlab-secondary-lightblue;
}

.bg-tumblr {
  background-color: $tumblr;
}

.bg-reddit {
  //todo: unknown
  background-color: $simlab-secondary-lightblue;
}

.bg-stumbleupon {
  background-color: $stumbleupon;
}

.bg-hacker-news {
  //todo: unknown
  background-color: $simlab-secondary-lightblue;
}

.magenta {
  color: $simlab-primary-magenta;
}

.home-wrapper {
  position: absolute;
  width: 100%;

  @include desktop {
    top: 330px;
  }

  @include tablet {
    top: 300px;
  }

  @include phone {
    top: 180px;
  }

  @include minimum {
    top: 220px;
  }
  
  //.search-box {
    //margin-top: 40px;
  //}
}

.content-wrapper {
  position: absolute;
  width: 100%;
  
  @include desktop {
    top: 360px;
  }

  @include tablet {
    top: 330px;
  }

  @include phone {
    top: 230px;
  }

  @include minimum {
    top: 260px;
  }
}

.headline {
  
  @include desktop {
    font-size: 2.75em;
    padding-right: 55px;
    padding-top: 25px;
  }

  @include tablet {
    padding-right: 25px;
    top: 300px;
  }

  @include phone {
    font-size: 1.3em;
    left: 0;
    padding-right: 25px;
    position: absolute;
    top: 40px;
  }

  @include minimum {
    font-size: 2em;
    position: absolute;
    top: 70px;
  }
}

.titleline {
  font-size: 3em;
  font-stretch: condenses;
  font-weight: 300;
  
  @include phone {
    font-size: 2em;
  }

  @include minimum {
    font-size: 2em;
  }
}

.header {
  @include desktop {
    height: 550px;
  }

  @include tablet {
    height: 300px;
  }

  @include phone {
    height: 210px;
  }

  @include minimum {
    height: 260px;
    z-index: 2;
  }
}

.home-page {
  @include desktop {
    background: $simlab-primary-black no-repeat 0 -150px;
  }

  @include tablet {
    background: $simlab-primary-black no-repeat 0 -100px;
  }

  @include phone {
    background: $simlab-primary-black no-repeat 100 -100px;
  }

  @include minimum {
    background: $simlab-primary-black no-repeat 100 -100px;
  }
}

.top-margin {
  margin-top: 70px;
}

.default-page {
  background: $simlab-primary-black;
}

.shadow {
  background-color: $black;
  position: absolute;
  width: 100%;
  z-index: -2;
}

header {
  overflow: hidden;
}

.header-wrapper {
  background-color: $white;
  padding: 0;
}

.header-background {
  opacity: .7;
  position: absolute;
  width: 100%;
  z-index: -1;

  @include desktop {
    background-position: 0% 70%;
  }
  
  @include tablet {
    background-position: 0% 80%;
  }
}

.angled-header {
  background: transparent;
  color: $white;
  padding-left: 0;
  padding-right: 0;
  padding-top: 15px;
  position: relative;
  width: 100%;

  > div {
      
    > h1 {
      padding-left: 15px;
      
      > span {
        font-weight: bold;
      }
    }
  }
}

.backshape {
  -webkit-backface-visibility: hidden; // Safari and Chrome
  background: $white;
  border-top: .5px $white solid;
  display: block;
  float: left;
  position: relative;
  -ms-transform: skew(0deg, 2.5deg); // IE 9 
  -webkit-transform: skew(0deg, 2.5deg); // Safari and Chrome
  transform: skew(0deg, 2.5deg);
  width: 110%;

  @include desktop {
    height: 250px;
    margin-top: -250px;
    width: 100%;
  }
  
  @include tablet {
    height: 500px;
    margin-top: -20px;
    width: 100%;
  }
  
  @include phone {
    height: 500px;
    margin-top: -10px;
    width: 100%;
  }

  @include minimum {
    display: none;
  }

  .wrapper {
    -webkit-backface-visibility: hidden;
    display: block;
    float: left;
    padding: 0 5%;
    -ms-transform: skew(0deg, -5deg);
    -webkit-transform: skew(0deg, -2.5deg);
    transform: skew(0deg, -2.5deg);
    width: 110%;
    
    @include desktop {
      height: 200px;
      margin: 50px auto;
    }

    @include tablet {
      margin: 25px auto;
      padding: 0;
      width: 100%;
    }

    @include phone {
      margin: 25px auto;
      padding: 0;
      width: 100%;
    }
  }
}

.backshape-extension {
  background: $white;
  height: 250px;
  margin-top: -59px;
  position: absolute;
  width: 100%;

  @include tablet {
    top: 450px;
  }

  @include phone {
    top: 450px;
    }
}

.logo {

  img {
    padding-top: 8px;
    width: 200px;

    @include phone {
      width: 180px;
    }
  }
}

.navbar-default {
  background-color: transparent;
  border: 0;
  z-index: 1;

  .navbar-toggle {
    border-color: $white;
    
    .icon-bar {
      background-color: $white;
    }
  }

  .navbar-nav {

    > li > a {
      color: $white;
      font-size: .9em;
      font-weight: bold;
    
      @include tablet {
        padding: 10px 7px;
      }

      &:hover {
        text-decoration: underline;
      }
    }
  }
}

.navbar-right {
  @include tablet {
    margin-right: -38px;
  }
}

.nav.navbar-nav.navbar-right li > a {
  text-align: right;

  &:hover {
    color: $white;
  }
}

.custom-navbar {

  .collapse.in {
    background-color: $simlab-primary-black;
  }

  .collapsing {
    background-color: $simlab-primary-black;
  }
}

// hr lines over and under search box
hr {

  @include moz-border-none;

  border-style: solid none;
  border-width: 0;
  margin: 0;
    
  &.bold {
    border-color: $simlab-primary-black -moz-use-text-color;
    border-top: 3px solid $simlab-primary-black;
  }
  
  &.light {
    border-color: $simlab-primary-grey -moz-use-text-color;
    border-top: 2px solid $simlab-primary-grey;
  }
}

.input-group .form-control {
  z-index: 0;
}

.search-header {
  position: absolute;
  top: 70px;

  @include phone {
    margin-left: -10px;
    top: 55px;
  }

  h2 { 
    padding: 0;

    @include phone {
      font-size: 1.1em;
    
    }
  }

  form {
    position: relative;
  }

  .search-topbar {
    border-color: $simlab-primary-grey -moz-use-text-color;
    border-top: 3px solid $simlab-primary-grey;
  }

  .search-wrapper {
    background-color: transparent;

    @include set-placeholder-color {
      color: $white;
    }
  }

  .btn-default {
    background-color: transparent;
    color: $white;
  }

  .form-control {
    background-color: transparent;
    color: $white;
    font-size: initial;
    font-weight: bold;
    z-index: 0;
  }
}

.form-control {
  font-size: initial;
  font-weight: bold;
}

.search-box {
  padding: 30px 18px;
}

.search-result {
  padding: 5px 5px 5px 78px;
  text-overflow: ellipsis;
  white-space: nowrap;

  @include tablet {
    display: block;
    white-space: normal;
    width: 85%;
  }

  @include phone {
    display: block;
    white-space: normal;
    width: 85%;
  }

  > a {
    color: $simlab-primary-black;
    text-overflow: ellipsis;
    
    &:hover {
      color: $simlab-primary-magenta;
    }
  }

  > i {
    color: $simlab-primary-magenta;
  }
}

.dropdown-menu {
  font-size: initial;
}

//for search button
.btn-default {
  color: $simlab-primary-magenta;
}

.jumbotron {
  background-color: $white;
}

.larger-bolder {
  font-size: 1.2em;
  font-weight: 500;
}

.right-divider {
  border-right: 2px solid $simlab-primary-grey;
  padding-right: 50px;

  @include phone {
    border-right: 0;
    padding-left: 30px;
    padding-right: 30px;
  }
}

.left-divider {

  @include tablet {
    border-left: 2px solid $simlab-primary-grey;
    padding-left: 15px;
  }

  @include desktop {
    border-left: 2px solid $simlab-primary-grey;
    padding-left: 15px;
  }
}

.homepage-content {
  min-height: 350px;
}

.menu {
  @include desktop {
    padding: 0 0 10px 10px;
  }

  @include tablet {
    padding-top: 30px;
  }
  
  h2 {
    padding-top: 10px;
  }
  
  // Heading
  > p {
    margin-bottom: 20px;

    @include desktop {
      margin-top: 17px;
      padding-left: 4px;
    }

    > a {
      color: $simlab-primary-magenta;
      padding-left: 15px;

      &:hover {
        color: $simlab-primary-black;
        text-decoration: none;
      }
    }
  }

  // Icon style
  .menu-icon {
    margin-top: 7px;
  }

  .foot {
    padding-top: 20px;
  }

  .fa {
    
    &.fa-chevron-circle-right {
      margin-top: 2px;
    }
  }
}

.sidebar-menu {
  clear: both;

  @include phone {
    margin: -15px auto 25px 0;
  }

  &.padded-menu {
    @include phone {
      margin-left: 10px;
    }
  }
 }

.site-map-links {
  color: $simlab-light-grey;
  
  &:hover {
    color: $simlab-primary-magenta;
  }
}

.team-sidebar {
  @include desktop {
    margin: -35px 10px 10px;
    padding: 0 0 10px 10px;
  }
  
  @include phone {
    margin: -65px 10px 10px 20px;
    padding: 0 0 10px;
  }
  
  h2 {
    padding-bottom: 0;
    
    @include tablet {
      margin-top: 0;
      padding-top: 0;
    }

    @include phone {
      display: none;
    }
  }

  h4 {
    padding-top: 0;

    @include phone {
      display: none;
    }
  }
}

@mixin set-form-fx-all {
  &:focus, 
  &:hover, 
  &:active {
    @content
  }
}

.no-border {
//   -webkit-appearance: none;
//   -webkit-box-shadow: none;
  border: 0;
  box-shadow: none;
  outline: 0; 

  // hide all focus effects on the seaerch box
  @include set-form-fx-all {
    // -webkit-appearance: none;
    // -webkit-box-shadow: none;
    box-shadow: none;
    outline: 0;
  }
}

.scrollable-menu {
  height: auto;
  overflow-x: hidden;
  width: 100%; // !important;
  z-index: 100;

  @include phone {
    overflow-y: scroll;
  }
}

.course-signup {
  min-height: 203px;
  padding: 10px;
  
  > i {
    background-color: $simlab-secondary-darkblue;
    border-radius: 44px;
    color: $white;
    padding: 20px;

    @include phone {
      margin: 10px 20px 0 -5px;
    }

    @include tablet {
      margin: 10px 20px 0 -5px;
    }

    @include desktop {
      margin: 25px 20px 20px -5px;
    }
  }
}

.about-role {
  color: $simlab-primary-black;
  line-height: 15px;
  position: relative;
  top: -10px;
}

.connect-links {
  min-height: 203px;
  padding: 10px;
}

.share-buttons {
  
  a {
    color: $white;
    float: left;
    height: 40px;
    padding: 12px 10px 10px 13.5px;
    width: 40px;
  }
}

.social-buttons-wrapper {
  overflow: hidden;
  position: relative;
  top: -30px;

  @include phone {
    margin-left: 15px;
  }
}

.social-buttons {

  > li {
    float: left;
    margin-bottom: 10px;
  }
}

.round-button {
  margin-right: 10px;

  > a {
    background: $simlab-primary-magenta;
    border-radius: 20px;
    color: $white;
    display: block;
    height: 40px;
    position: relative;
    width: 40px;
  }
  
  .fa {
    display: block;
    left: 32%;
    position: absolute;
    top: 25%;
          
    &.fa-facebook {
      left: 37%;
      top: 27%;
    }

    &.fa-envelope {
      left: 29%;
    } 

    &.fa-twitter {
      top: 27%;
    }

    &.fa-rss {
      left: 34%;
      top: 28%;      
    }
  }
}

.rectangle-button {
  border-radius: 5px;
  color: $white;
  height: 40px;
  max-width: 200px;
  padding: 10px;
  width: 100%;
}

.post-header {
  border-bottom: 2px solid $simlab-primary-grey;
  margin-bottom: 30px;
  margin-left: 30px;
  padding: 30px 20px 30px 0;
  width: 95%;
    
  @include phone {
    margin-left: 10px;
    margin-right: 30px;
    width: 89%;
  }

  h2 {
    margin-top: 0;
    padding-bottom: 10px;
    padding-top: 0;
  }
}

.post-type {
  margin: 0 0 10px;
}

.post-content {
  padding-right: 15px;
}

.post-image {
  margin-top: 10px;
  padding: 6px 15px 0;
}

.post-link {
  color: $simlab-primary-magenta;

  &:hover {
    color: $simlab-primary-black;
  }
}

.author-posts {
  display: inline-block;
  line-height: 1.2;
  margin-bottom: 15px;
}

.section-link {
  line-height: 110%;
  
  a {
    display: block;
    margin-bottom: 20px;
  }
    
  p {
    line-height: 1.2;
    margin-top: -5px;
  }
}

.post-meta {
  margin-left: -5px;
  margin-top: -5px;
  
  > li {
    font-size: .9em;
    margin-bottom: 7px;
    padding: 3px 15px 7px 20px;

    @include phone {
      margin-bottom: 0;
    }

    @include desktop {
      border-right: solid 1px $simlab-primary-black;
      float: left;
      height: 10px;
      line-height: 4px;
    }

    @include tablet {
      display: block;
      margin-bottom: 2px;
      padding: 0 0 0 5px;
    }

    @include phone {
      display: block;
      padding: 0 0 0 5px;
    }

    &:first-child {
      padding-left: 6px;
    }

    &.last {
      border-right: 0;
    }
  }
}

.feature {
  color: $white;
  margin-bottom: 25px;
  min-height: 250px;

  a { color: $white;

    &:hover {
      color: $white;
      text-decoration: underline;
    }
  }

  .overlay {
    background-color: rgba(0, 0, 0, .25);
    min-height: 250px;
    padding: 75px 15px 15px;
  }
}

.post-summary {
  margin-top: 20px;
}

.search-links {
  float: left;
  padding: 0 5px 0 0;
}

.pagination-wrapper {
  margin-top: 25px;

  @include phone {
    font-size: .7em;
    margin-bottom: 30px;
    margin-top: 0;
  }
}

.pagination {
  border: 2px solid $simlab-primary-grey;
  border-radius: 15px;
  display: inline-block;
  height: 30px;
  line-height: 90%;
  width: 30px;

  @include phone {
    height: 25px;
    width: 25px;
  }

  &:hover {
    background: $simlab-primary-black;
    color: $white;
  }
}

.left {
  margin: 0 10px 0 0;
  padding: 6px 0 0 5px;
}

.right {
  margin: 0 0 0 10px;
  padding: 6px 0 0 7px;

  @include desktop {
    padding: 6px 0 0 8px;
  }
}

.next-prev-navigation {
  span, 
  i {
    display: none;
  }
  
  a {
    i {
      display: inline-block;
    }
  }
}

.prev-item {
  margin-left: -33px;
  
  @include phone {
    margin-left: -19px;
  }

  span {
    color: $simlab-secondary-grey;
  }
}

.next-item {

  @include tablet {
    float: right;
    margin-right: 36%;
  }
  
  @include phone {
    float: right;
    margin-right: -45px;
  }
}

.team-card {

  @include phone {
    min-height: 185px;
  }

  @include tablet {
    min-height: 370px;
  }

  @include desktop {
    min-height: 340px;
  }
}

.careers {

  h2 {
    padding-bottom: 0;
  }

  h3 {
    margin-top: -10px;
    padding: 0;
  }
}

.grid-item {
  min-height: 100px;
  min-width: 200px;

  > img {
    margin: auto;
    max-height: 50px;
    max-width: 200px;
  }
}

.small-logo {
  position: relative;
  top: -40px;

  @include phone {
    margin-left: 15px;
  }
  
  > a > svg {
    height: 67.15px;
    position: relative;
    top: 24px;
    width: 42.5px;
  }
}

footer {
  background-color: $white;
  margin-top: 60px;
  
  @include phone {
    padding-bottom: 15px;
    padding-top: 15px;
  }

  h3 {
    text-align: left;
  }

  .footer-divider {
    border-right: 2px solid $simlab-primary-grey;
    padding-right: 50px;
  }
}

.footer-col {
  min-height: 130px;
  
  @include phone {
    border-top: 2px solid $simlab-primary-grey;
    padding-bottom: 20px;
  }
}

.subscribe-form {
    
  .email {
    border: 2px solid $simlab-primary-grey;
    margin-bottom: 12px;
    outline: none;
    padding: 3px 5px;
  }

  .submit-button {
    background-color: $simlab-primary-magenta;
    border: 0;
    border-radius: 3px;
    color: $white;
    cursor: pointer;
    font-weight: bold;
    padding: 5px 15px;

    &:hover {
      background-color: $darkgray;
    }
  }
}

.address {
  clear: both;
  overflow: auto;
  position: relative;
  top: -20px;
}

.center {
  margin-left: auto;
  margin-right: auto;
}

.subscribe-box {
  background-color: $lightgray;
  border-radius: 0;
}

.subscribe-button {
  background-color: $simlab-primary-magenta;
  border-radius: 0;
  color: $white;
  padding-bottom: 7.5px;
  padding-top: 9px;
}

.form-embed-wrapper {
  border: 2px solid $simlab-primary-grey;
  margin-left: 10px;
  margin-top: 50px;
}

.highlight {
  padding: 15px 20px;
  
  &.magenta {
    background: $simlab-primary-magenta;
    color: $white;
  }

  &.grey {
    border-bottom: 1px solid $simlab-secondary-grey;
    border-top: 1px solid $simlab-secondary-grey;
    color: $simlab-primary-magenta;
  }

  &.magenta-border {
    background: $simlab-primary-grey;
    border-top: 5px solid $simlab-primary-magenta;
  }
}

.underlined {
  border-bottom: 1px solid $simlab-primary-grey;
  padding-bottom: 7px;
  
  &.bold {
    border-bottom: 2px solid $simlab-primary-grey;

    &.dark {
      border-color: $simlab-primary-black;
    }
  
    &.magenta {
      border-color: $simlab-primary-magenta;
      color: $simlab-primary-black;
    }
  }
}

.photo-credit {
  font-size: 11px;
  
  @include phone {
    margin-left: 15px;
  }
}

.copyright-footer {
  padding-top: 20px;

  .copyright {
    text-align: right;

    @include phone {
      text-align: left;
    }
  }
}

.menu-label {
  display: none;
  float: right;
  font-size: 11px;
  margin-right: 5px;
  margin-top: 15px;
  text-align: left;

  @include phone {
    display: inline-block;
  }
}

.team-name {
  margin-top: -40px;
  padding-top: 0;

  @include desktop {
    display: none;
  }

  @include tablet {
    display: none;
  }
}

.team-role {
  margin-bottom: 20px;
  
  @include desktop {
    display: none;
  }
  
  @include tablet {
    display: none;
  }
}

.teaser-image {
  margin-top: 15px;
}

.visible-xs-inline {
  @include tablet {
    display: none;
  }
 }
