---
layout: page
title: Careers
---
<p>Come work with us at SIMLab!  We offer a supportive work environment with awesome co-workers and many other perks.</p>

<p>We’ve currently got a small staff of 6, with 2 in Nairobi, 3 in DC, and 1 in Brooklyn. We offer flexible work arrangements, with the possibility of working remotely, flex hours, and ability to work from home if you’d like. We’ve got office space in the OpenGovHub in Washington, DC&mdash;a co-working space that fosters creativity and collaboration, offers an endless supply of coffee, and has office perks like a gym, bike storage, etc. In Nairobi, we're in the iHub building in Kilimani. </p>

<p>On top of competitive salaries, we offer employees health and dental insurance, support the purchase of your own preferred laptop, provide 20 days of paid vacation plus a generous amount of time off for the winter holidays, and foster professional development. We're looking for highly-motivated, passionate individuals who can grow and learn along with us.</p>



    {% for page in site.pages%}
    	{% if page.categories contains "jobs" %}
      <h1>  <a class="post-link" href="{{ page.url }}">{{ page.title }}</a></h1>
    	{% endif %}
    {% endfor %}

<p> Don't see the job you want? Send us a CV and a letter telling us why we desperately need you to <a href="mailto:jobs@simlab.org">jobs@simlab.org</a></p>
