---
layout: default
title: Resources
headerimage: "/images/header/resources_header.png"
menus: [categories]
permalink: "/resources/"
---
{% assign array = site.resources %}

{% for item in site.courses %}
  {% if item.layout == "course" %}
    {% assign array = array | push: item %}
  {% endif %}
{% endfor %}

{% for item in site.documentation %}
  {% assign array = array | push: item %}
{% endfor %}

{% for item in site.casestudies %}
  {% assign array = array | push: item %}
{% endfor %}

{% include html/posts_list_sidebar posts=array limit=site.paginate %}
{% include html/categories_pagination text="Page" limit=site.paginate count=array.size %}