---
layout: page
title: Team
permalink: /team/
nosearch: true
headerimage: "/images/header/team_header.png"
menus: [section_links.html]
sections:
    - { link: "team",
        text: "Staff"}
    - { link: "board",
        text: "Board of Directors"}
    - { link: "careers",
        text: "Careers"}
---
<h2>Staff{% include html/sectionlink.html link="team" %}</h2>

<div class="row team-container">
{% for page in site.pages%}
      {% if page.categories contains "staff" %}
<div class="col-xs-6 col-sm-4 col-md-4 team-card">
  <a href="{{site.baseurl}}/team/{{page.locator}}">
      <img class="img-rounded img-inline"  src="{{site.baseurl}}/images/team/{{page.locator}}.jpg" alt="{{page.locator}}">
      <h4><b>{{page.title}}</b></h4>
      <p class="small about-role">{{page.role}}</p>
  </a>
</div>
 {% endif %}
{% endfor %}
</div>

  <h2>Board of Directors{% include html/sectionlink.html link="board" %}</h2>

  <div class="row board-container">
{% for page in site.pages%}
      {% if page.categories contains "board" %}
<div class="col-xs-6 col-sm-4 col-md-4 board-card">
  <a href="{{site.baseurl}}/team/board/{{page.locator}}">
      <img class="img-rounded img-inline"  src="{{site.baseurl}}/images/team/board/{{page.locator}}.jpg" alt="{{page.locator}}">
      <h4><b>{{page.title}}</b></h4> 
  </a>
</div>
 {% endif %}
{% endfor %}
</div>


  <h2>Careers{% include html/sectionlink.html link="careers" %}</h2>

  {% for page in site.pages%}
  <ul>
    {% if page.categories contains "jobs" %}
    <li><a class="post-link" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a></li>
    {% endif %}
  </ul>
  {% endfor %}
  <br/><br/>
  <p>Don't see the job you want? Send us a CV and a letter telling us why we desperately need you to <a href="mailto:jobs@simlab.org">jobs@simlab.org</a></p>
