<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
    <meta name="viewport" content="width=device-width">
    <link rel="icon" type="image/png" href="/images/favicon.png">
    <meta name="description" content="{{ site.description }}">
    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">

    <meta property="og:title" content="{% if page.title %}{{ page.title }}{% endif %}" />
    <meta property="og:site_name" content="{{site.title}}">
    <meta property="og:type"content="website" />

    <!-- Custom CSS -->
    <link rel="stylesheet" href="{{ "/css/normalize.css" | prepend: site.baseurl }}">
     <link rel="stylesheet" href="{{ "/css/semantic.min.css" | prepend: site.baseurl }}">
      <link rel="stylesheet" href="{{ "/css/simlab.css" | prepend: site.baseurl }}">
<!-- Javascript -->
  

 
{%include tracking.html%}

</head>
