
<!--Main Menu-->
<div class="ui borderless main menu">
<div class="ui page grid">

<div class="vertically fitted column">
<div class="container">
<div class="menu">
<div class="logo item"><a href="/"><img class="ui small image" src="/images/logo.svg"></a></div>
<div class="ui simple dropdown item">
About
<div class="menu">
      <a class="item" href="/manifesto/">Manifesto</a>
      <a class="item" href="/history/">History</a>
      <a class="item" href="/team/">Team</a>
      <a class="item" href="/jobs/">Jobs</a>
      <a class="item" href="/contact/">Contact</a>
    </div>
</div>
<div class="ui simple dropdown item">
Work
  <div class="menu">
        <a class="item" href="/services/">Services</a>
        <a class="item" href="/sectors/">Sectors</a>
        <!--<a class="item" href="/case-studies/">Case Studies</a>
        <a class="item" href="/partners/">Partners</a>-->
  </div>
</div>
<a class="item" href="/blog/">Blog</a>
</div>
</div>
</div>
</div>
</div>

