//Soclial media colors
$twitter: #00aced;
$facebook: #3b5998;
$googleplus: #dd4b39;
$pinterest: #cb2027;
$linkedin: #007bb6;
$youtube: #bb0000;
$vimeo: #aad450;
$tumblr: #32506d;
$instagram: #517fa4;
$flickr: #ff0084;
$dribbble: #ea4c89;
$quora: #a82400;
$foursquare: #0072b1;
$forrst: #5B9A68;
$vk: #45668e;
$wordpress: #21759b;
$stumbleupon: #EB4823;
$yahoo: #7B0099;
$blogger: #fb8f3d;
$soundcloud: #ff3a00;
//simlab colors
$simlab-primary-magenta: #A7166A;
$simlab-primary-black: #231f20;
$simlab-primary-grey: #E9E9E9;
$simlab-secondary-darkblue: #1B579F;
$simlab-secondary-slate: #004650;
$simlab-secondary-lightblue: #00AECE;
$simlab-secondary-yellow: #C6DB00;
$simlab-secondary-green: #55BE47;
$simlab-secondary-darkgreen: #2F6600;

//fonts
%opensans { font-family: 'Open Sans' !important; }

//media queries 
$phone-width: 320px;
$tablet-width: 768px;
$desktop-width: 992px;

@mixin minimum {
  @media (min-width: 0) and (max-width: #{$phone-width - 1px}) {
    @content;
  }
}

@mixin phone {
  @media (min-width: #{$phone-width}) and (max-width: #{$tablet-width - 1px}) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: #{$tablet-width}) and (max-width: #{$desktop-width - 1px}) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: #{$desktop-width}) {
    @content;
  }
}