{% assign post_count = 0 %}
{% for post in site.posts  %}
    {% if post.author == page.author and post.title != page.title %}
        {% assign post_count = post_count | plus: 1 %}
    {% endif %}
{% endfor %}
{% if post_count > 1 %}
<div class="col-sm-10 col-md-12 sidebar-menu padded-menu">
<div class="menu">
    <h2 class="extra-bold">Posts by {{ page.author | split: ' ' | first }} </h2>
    <ul class="list-unstyled">
     {% for post in site.posts  %}
     {% if post.author == page.author and post.title != page.title %}
     <li class="author-posts"><a href="{{ post.url | prepend: site.baseurl }}" class="post-link extra-bold">{{ post.title }}</a></li>
     {% endif %}
     {% endfor %}
     </ul>
</div>
{% endif %}
<div class="menu">
    {% if page.email %}
     <h2>Contact the Author</h2>
     <ul class="list-unstyled">
        <li>
            <div><p> <span class="extra-bold">Email</span>
            <a href="mailto:{{page.email}}"> {{page.email}}</a></p></div>
        </li>
    </ul>
    {% endif %}
</div>
</div>
