---
layout: page
title: Learning
nosearch: true
headerimage: /images/whoweare.jpg
---

<div class="row">

{% if paginator.page == 1 %}
<div class="container">
  <p >Shared, public learning is a fundamental part of our ethos and approach. We are continuing to work with partners and funders on building more accessible resources for those looking to use technology for social change in a rigorous, positive way.</p>

  <p>We are always looking for new guest posts and resources. If you have something you'd like to see up here, or want to help us build a better hive mind, <a href="mailto:hello@simlab.org">let us know</a>. </p>
</div>
{% endif %}

{% include html/posts_list posts=paginator.posts filter="blog" %}

{% include html/blog_pagination %}

</div>
