{% if include.limit %}
  {% assign limit=include.limit %}
  {% assign page = 1 %}
  {% assign page_counter = 0 %}
{% endif %}
{% for post in include.posts %}
  {% if limit <= page_counter %}
    {% assign page =  page | plus: 1 %}
    {% assign page_counter = 1 %}
  {% else %}
    {% assign page_counter =  page_counter | plus: 1 %}
  {% endif %}
<div class="row {% if limit %} page page{{page}} {% endif %}" >
  <div class="col-sm-12 post-header">
    <h2><a href="{{ post.url | prepend: site.baseurl }}" class="post-link extra-bold">{{ post.title }}</a></h2>
    {% include html/post_metadata.html post=post %}
    <p class="post-summary">
        {% if post.summary %}
        {% assign summary = post.summary %}
      {% else %}
        {% assign summary = post.excerpt %}
      {% endif %}
      {{ summary | strip_newlines | strip | strip_html }}
    </p>
  </div>
</div>
{% endfor %}
