<!DOCTYPE html>
<html>
{% include html/head %}
<body>
  {% include html/header %}
  <div class="content-wrapper">
    <div class="container" role="{{page.role}}">
      <div class="row">
        <div class="col-md-8">
          {% include html/post_header sidebar=true %} {{ content }} {% include html/share_buttons %} {% include html/disqus_comments
          %} {% include html/facebook_comments %} {% include html/related_posts %}
        </div>
        <div class="col-md-4">
          <div class="menu-divider">
            {% include menus/downloads %} {% include menus/section_links %}
          </div>
        </div>
      </div>
      <!--/row -->
    </div>
    {% include html/footer %}
  </div>
</body>

</html>