<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
    <meta name="viewport" content="width=device-width">
    <link rel="icon" type="image/png" href="/images/favicon.png">
   

    <!-- Custom CSS -->
     <link rel="stylesheet" href="{{ "/css/semantic.min.css" | prepend: site.baseurl }}">
<!-- Javascript -->
   <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.js"></script>

 <script src="{{ "/javascript/semantic.min.js" | prepend: site.baseurl }}"></script>

 

</head>


    <body>


  {{content}}

<script>
$('.ui.dropdown')
  .dropdown()
;
</script>
    </body>
</html>