<!DOCTYPE html>
<html>
{% include html/head.html %}
<body>
    {% include html/header.html headerimage="/images/header/stories_header.png" %}
    <div class="content-wrapper">
        <div class="container" role="{{page.role}}">
            <div class="row">
                <div class="{ col-sm-12 col-md-8 col-md-offset-2">
                    <div id="content" >
                        {{content}}
                    </div>
                </div>
            </div>
            <!--/row -->
        </div>
        {% include html/footer.html %}
    </div>
</body>
</html>
