<!DOCTYPE html>
<html>
{% include html/head %}
<body>
  {% include html/header title=site.courses.title headerimage="/images/header/resources_header.png" %}
  <div class="content-wrapper">
    <div class="container" role="{{page.role}}">
      <div class="row">
        <div class="col-md-4 visible-xs-inline">
          <div>
            {% include menus/downloads %}
            {% include menus/section_links %}
          </div>
        </div>
        <div class="col-md-8 right-divider">
          <article id="content">
          {% include html/post_header sidebar=true %}
          {{ content }}
          </article>
          <br/>
        </div>
        <div class="col-md-4 hidden-xs">
          <div>
            {% include menus/downloads %}
            {% include menus/section_links %}
          </div>
        </div>
      </div>
      {% include html/share_buttons %}
      {% include html/disqus_comments %}
      {% include html/facebook_comments %} {% include html/related_posts %}
      <!--/row -->
    </div>
    {% include html/footer %}
  </div>
</body>
</html>
