<!DOCTYPE html>
<html>
{% include html/head %}
<body>
    {% include html/header headerimage="/images/header/stories_header.png" %}
    <div class="content-wrapper">
        <div class="container" role="{{page.role}}">
            <div class="row">
                <div class="col-xs-12 col-sm-4 visible-xs-inline">
                    {% include menus/services hidelink=true %}
                </div>
                <div class=" col-xs-12 col-sm-8 col-md-8 right-divider">
                    <div id="content" >
                        {{content}}
                    </div>
                </div>
                <div class="col-xs-12 col-sm-4 hidden-xs">
                    {% include menus/services hidelink=true %}
                </div>
            </div>
            <!--/row -->
        </div>
        {% include html/footer %}
    </div>
</body>
</html>
