<!DOCTYPE html>
<html>
{% include html/head %}
<body>
    {% include html/header headerimage="/images/header/stories_header.png" %}
    <div class="content-wrapper">
        <div class="container" role="{{page.role}}">
            <div class="row">
                <div class="{% if page.menus %} col-xs-12 col-sm-8 col-md-8{% else %}{% endif %} {% if page.menus %}right-divider {% endif %}">
                    <div id="content" >
                        {{content}}
                    </div>
                </div>
                {% if page.menus %}
                <div class="col-xs-12 col-sm-4">
                    {% for menu in page.menus %} {% include menus/{{menu}} %} {% endfor %}
                </div>
                {% endif %}
            </div>
            <!--/row -->
        </div>
        {% include html/footer %}
    </div>
</body>
</html>
