<!DOCTYPE html>
<html>
{% include html/head %}
<body>
    {% include html/header headerimage="/images/header/team_header.png" %}
    <div class="content-wrapper" style="margin-top:50px;">
        <div class="container" role="{{page.role}}">
            <div class="row">
                <div class="col-sm-8 right-divider">
                        <article id="content">
                        <h2 class="team-name">{{page.title}}</h2>
                        <h4 class="team-role">{{page.role}}</h4>
                        {{content}}
                        </article>
                </div>
                <div class="col-sm-4">
                    {% include /menus/team_member %}
                </div>
            </div>
            <!--/row -->
        </div>
        {% include html/footer %}
    </div>
</body>
</html>
